APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


#***********************
# Carpetas Rayogas
#***********************
#

UPLOADS_FOLDER=uploads
HOME_BANNER_FOLDER=home/banner
HOME_FEATURE_FOLDER=home/feature
HOME_RATES_FOLDER=home/rates

ABOUT_BANNER_FOLDER=about/banner
ABOUT_FEATURES_FOLDER=about/features
ABOUT_VALUES_FOLDER=about/values
ABOUT_WHY_CHOOSE_FEATURES_FOLDER=about/why-choose-features

PRODUCTS_BANNER_FOLDER=products/banner

GLP_BANNER_FOLDER=glp/banner
GLP_RECOMMENDATION_PDFS_FOLDER=glp/recommendation-pdfs

BLOG_BANNER_FOLDER=blog/banner
BLOG_POSTS_FOLDER=blog/


#***********************
# API KEY TINYMCE
#***********************
#
API_TINYMCE_URL=api_url