#banner-about {
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),
        url('/images/web/about/nosotros_banner_main.png'
    );
}

#about-team {
    .description {
        height: 100%;
        display: flex;
        align-items: center;
        p {
            font-size: rem(20px);
            font-weight: 300;
            letter-spacing: 0;
            line-height: rem(30px);
        }
    }
}

#about-services {
    border-radius: rem(20px);
    box-shadow: 0 rem(2px) rem(8px) 0 rgba(0,0,0,0.14);
    /*border: 1px solid blue;*/
    margin-top: rem(160px);
    padding: 0 rem(20px) rem(40px) rem(20px);
    /*padding-top: rem(60px);
    padding-bottom: rem(60px);*/

    .content {
        display: flex;
        flex-direction: column-reverse;
        height: inherit;
        align-items: center;

        .text {

            .title {
                margin-bottom: 1.875rem;
                /*margin-left: 1rem;*/

                &::before {
                    content: "";
                    position: absolute;
                    width: 0.312rem;
                    height: 2.062rem;
                    display: block;
                    border-radius: 0.187rem;
                    background-color: var(--primary-color-dark);
                    margin-left: -1rem;
                    margin-top: 0.5rem;
                }

                h4 {
                    color: var(--primary-color);
                    font-size: rem(36px);
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: rem(42px);
                    margin: 0;
                }
            }
            .text-description {

            }
        }
        .image {
            position: relative;
            height: rem(80px);
            top: rem(-190px);
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
@include media-breakpoint-up(md) {
    #about-services {
        padding: 0;
        padding-left: rem(80px);
        height: rem(400px);
        margin-top: 0;

        .content {
            display: flex;
            flex-direction: row;

            .text {
                width: 70%;

                .title {

                    h4 {

                    }
                }
                .text-description {
                    width: 70%;
                }
            }
            .image {
                width: 30%;
                height: auto;
                position: initial;
                top: 0;
                img {
                    width: auto;
                }
            }
        }
    }
}

#about-our-values {
    h3 {
        color: var(--primary-color-dark);
        font-size: rem(28px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: rem(34px);
    }
    p {
        width: 72%;
        margin: 0 auto rem(60px) auto;
    }
}

#about-choosing {
    h3 {
        color: var(--primary-color-dark);
        font-size: rem(28px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: rem(36px);
        margin-top: rem(30px);
        margin-bottom: rem(20px);
    }
    p {
        margin-bottom: rem(20px);
    }
}

@include media-breakpoint-up(md) {
    #about-choosing {
        h3 {

        }
        p {
            margin-bottom: 0;
        }
    }
}
