.blog-list {
    padding: rem(31px) 0 rem(60px) 0;
    &__item {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }
    &__item-description {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: rem(21px) 0;
        justify-content: space-between;
    }
    &__item-title {
        position: relative;
        padding-bottom: rem(10px);
        max-height: rem(95px);
        & h3 {
            color: var(--primary-color-dark);
            font-size: rem(22px);
            font-weight: bold;
            letter-spacing: 0;
            line-height: rem(28px);
            & + hr {
                position: absolute;
                margin: 0;
                display: inline-block;
                height: rem(4px);
                width: rem(51px);
                border-radius: rem(3px);
                background-color: var(--primary-color);
                opacity: 1;
                left: 0;
                bottom: 0;
            }
        }
    }
    &__item-text {
        margin-top: rem(10px);
        font-size: rem(12px);
        line-height: rem(16px);
    }
    &__pagination {
        display: flex;
        justify-content: center;
        & .pagination {
            & .page-item {
                &.active {
                    & .page-link {
                        color: var(--font-color-primary);
                        border: none;
                    }
                }
                &.disabled {
                    & .page-link {
                        color: var(--separator-color-alpha-8);
                    }
                }

                & .page-link {
                    border: none;
                    font-size: rem(20px);
                    font-weight: bold;
                    line-height: rem(36px);
                    color: var(--gray-color);
                    background-color: transparent;
                    &:hover,
                    &:focus {
                        box-shadow: none;
                        color: var(--font-color-primary);
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 762px) {
    .blog-list {
        padding: 0;
        padding-top: rem(96px);
        &__pagination {
            padding: rem(80px) 0 rem(114px) 0;
        }
    }
}
