.rates {
    margin-bottom: rem(100px);
    .download-card {
        padding: rem(12px);

        > .row > div:nth-child(even) {
            background-color: #f0f9fe;
        }

        &__list {
            padding: rem(20px);
            li {
                a {
                    justify-content: space-between;
                    & div:first-child {
                        margin-bottom: rem(52px);
                    }
                }
            }
            &-pill {
                padding: rem(2px) rem(20px);
                background-color: var(--dark-blue);
                border-radius: 6px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
                color: var(--font-color-five);
                font-size: rem(12px);
                line-height: rem(18px);
                font-weight: bold;
                position: absolute;
                top: 56%;
                left: calc(50% - rem(76.4px));
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .rates {
        .download-card {
            padding: rem(12px);
            > .row > div:nth-child(even) {
                background-color: #f0f9fe;
            }

            &__list {
                padding: rem(10px) rem(20px);
                li {
                    a {
                        & div:first-child {
                            margin-bottom: 0;
                        }
                    }
                }
                &-pill {
                    top: calc(50% - rem(11px));
                    left: auto;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .rates {
        .download-card {
            padding: rem(12px);
            > .row > div:nth-child(even) {
                background-color: transparent;
            }

            > .row:nth-child(even) {
                background-color: #f0f9fe;
            }

            > .row > div:first-child {
                border-right: 1px solid rgba(151, 151, 151, 0.12);
            }
        }
    }
}
