.work-with-us {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;

    &__banner {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url("/images/web/work-with-us/img_trabaja_con_nosotros.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: rem(250px);
        img {
            display: none;
        }
    }
    &__form {
        padding-left: rem(30px);
        padding-bottom: rem(48px);
        .form__general {
            padding: rem(48px) rem(27px) rem(28px) rem(27px);
            border-radius: rem(12px);
            background-color: var(--body-color);
            box-shadow: 0 rem(2px) rem(8px) 0 rgba(0, 0, 0, 0.14);

            input,
            .custom-file-input {
                border-radius: rem(12px);
                font-style: italic;
            }

            .help-message {
                font-style: italic;
            }

            &-button {
                width: 100%;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .work-with-us {
        &__banner {
            height: rem(350px);
        }
    }
}
@include media-breakpoint-up(lg) {
    .work-with-us {
        &__banner {
            height: inherit;
        }
        &__form {
            padding-left: rem(50px);
            & .form__general {
                width: 90%;
            }
        }
    }
}
