.align-left {
    text-align: left !important;
}
.align-center {
    text-align: center !important;
}
.align-right {
    text-align: right !important;
}
.align-justify {
    text-align: justify !important;
}
img {
    max-width: 100%;
    border-radius: 8px;
}
h1,
h2,
h3 {
    font-weight: bold;
    margin-top: 1.5em;
}
ul,
ol {
    padding-left: 2em;
}
blockquote {
    border-left: 4px solid #cce;
    padding-left: 1em;
    color: #789;
    font-style: italic;
}
td {
    color: var(--font-color-text);
}
