
.card-blog {
    width: 330.54px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #f0f0f0;
    transition: transform 0.2s ease-in-out;
    margin-top: 1rem;
}

.tox-edit-area img, .mce-content-body img {
    object-fit: cover;
    width: 240px !important;
    height: 300px !important;
}