$html-font-size: 16px;
@function stripUnit($value) {
    $unit: calc($value * 0) + 1;
    @return calc($value / $unit);
}
@function rem($pxValue) {
    @return #{calc(stripUnit($pxValue) / stripUnit($html-font-size))}rem;
}
* {
    font-family: "Gotham";
}
body {
    background-color: var(--body-color);
}
.section {
    padding-top: rem(40px);
    padding-bottom: rem(40px);
}
.section-bottom-separator {
    border-bottom: 0.062rem solid var(--separator-color-2);
}
.bg-section {
    background-color: var(--background-color-2);
}

// Buttons
.btn {
    padding: rem(17px) rem(67px);
    border-radius: rem(32px);
    background-color: var(--primary-color);
    color: var(--font-color-text-secondary);
    font-size: rem(16px);
    font-weight: bold;
    letter-spacing: 0;
    display: block;
    margin-bottom: rem(20px);
    display: inline-block;

    &:focus {
        box-shadow: 0 rem(4px) rem(16px) 0 rgba(131, 147, 168, 0.75);
    }
}

.forms-select {
    position: relative;
    &:after {
        content: "▼";
        position: absolute;
        display: block;
        font-size: rem(12px);
        right: rem(10px);
        top: rem(10px);
        pointer-events: none;
    }

    select {
        border: rem(2px) solid var(--component-color);
        border-radius: rem(13px);
        padding: rem(5px) rem(11px);
        background-color: var(--white-color);
        height: rem(38px);
        color: var(--font-color-text);
        cursor: pointer;
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: var(--primary-color-dark);
            color: var(--font-color-text);
        }
    }
}

p {
    margin: 0;
    color: var(--font-color-text);
    font-weight: 300;
    letter-spacing: 0;
    line-height: rem(24px);
    &.bottomLine {
        position: relative;
        margin: 0 auto;
        padding-bottom: rem(15px);
        text-align: center;
        max-width: rem(912px);
        &::after {
            content: "";
            position: absolute;
            width: rem(80px);
            height: rem(4px);
            display: block;
            left: 50%;
            transform: translateX(-50%);
            border-radius: rem(3px);
            background-color: var(--primary-color);
            bottom: 0;
        }
    }
}
.f20 {
    font-size: rem(20px);
}
strong {
    font-weight: bold;
    color: var(--gray-color);
    &.gray {
        color: var(--font-color-text);
    }
}
h1,
h2,
h3,
h4 {
    font-weight: bold;
}
h2.sideLine {
    font-size: rem(28px);
    line-height: rem(34px);
    text-align: left;
    position: relative;
    padding-left: rem(15px);
    margin-bottom: rem(0px);
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: rem(33.34px);
        width: rem(5.05px);
        border-radius: rem(3px);
        background-color: var(--primary-color-dark);
        left: 0;
    }
}
h3.heading__primary {
    color: var(--font-color-primary) !important;
    font-size: rem(24px);
    font-weight: bold;
    line-height: rem(32px);
    text-align: center;
    position: relative;
    padding-bottom: rem(15px);
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: rem(5px);
        width: rem(34px);
        border-radius: rem(3px);
        background-color: var(--primary-color);
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}
.list-general {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    font-weight: 300;
    letter-spacing: 0;
    line-height: rem(24px);
    & li {
        padding-left: rem(16px);
        &::before {
            content: "\2022";
            color: var(--font-color-primary);
            font-weight: bold;
            display: inline-block;
            font-size: rem(24px);
            margin-left: rem(-16px);
            width: rem(16px);
            line-height: rem(24px);
        }
    }
}

.form__general {
    margin-top: rem(45px);
    &-header {
        margin-bottom: rem(10px);
        &.line {
            & h3 {
                position: relative;
                padding-left: rem(14px);
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: rem(33.34px);
                    width: rem(5.05px);
                    border-radius: rem(3px);
                    background-color: var(--primary-color-dark);
                    left: 0;
                    top: rem(9px);
                }
            }
            & p {
                padding-left: rem(14px);
            }
        }
        & h3 {
            color: var(--font-color-primary);
            font-size: rem(36px);
            font-weight: bold;
            line-height: rem(42px);
            margin-bottom: 0;
        }
        & p {
            font-size: rem(20px);
            font-weight: 300;
            letter-spacing: 0;
            line-height: rem(30px);
        }
    }
    &-button {
        display: block;
        height: rem(49px);
        width: 70%;
        border-radius: rem(20px);
        background-color: var(--primary-color);
        color: var(--white-color);
        outline: none;
        border: none;
        font-weight: bold;
        margin: 0 auto;
        margin-top: rem(45px);
    }
    &.was-validated {
        & .select {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                display: block;
                font-size: rem(12px);
                right: rem(10px);
                top: rem(9px);
                pointer-events: none;
            }
        }
        & .form-control {
            &:invalid {
                border-color: var(--alert-color);
                background-image: none;
            }
            &:valid {
                border-color: var(--component-color);
                box-shadow: none;
                background-image: none;
            }
        }
    }

    & label {
        color: var(--primary-color-dark);
        font-size: rem(16px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: rem(18px);
    }
    & input {
        border: rem(2px) solid var(--component-color);
        border-radius: rem(4px);
        padding: rem(11px);
        background-color: var(--white-color);
        height: rem(49px);
        color: var(--font-color-text);
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: var(--primary-color-dark);
            color: var(--font-color-text);
        }
    }
    & textarea {
        border: rem(2px) solid var(--component-color);
        border-radius: rem(4px);
        background-color: var(--white-color);
        color: var(--font-color-text);
        resize: none;
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: var(--primary-color-dark);
            color: var(--font-color-text);
        }
    }
    & .select {
        position: relative;
        &:after {
            content: "▼";
            position: absolute;
            display: block;
            font-size: rem(12px);
            right: rem(10px);
            top: rem(16px);
            pointer-events: none;
        }
    }
    & select {
        border: rem(2px) solid var(--component-color);
        border-radius: rem(4px);
        padding: rem(11px);
        background-color: transparent;
        height: rem(49px);
        color: var(--font-color-text);
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: var(--primary-color-dark);
            color: var(--font-color-text);
        }
    }

    input[type="file"] {
        display: none;
    }

    & .custom-file-input {
        width: 100%;
        cursor: pointer;
        border: rem(2px) solid var(--component-color);
        border-radius: rem(4px);
        padding: rem(11px);
        background-color: var(--white-color);
        height: rem(49px);
        color: var(--font-color-text);
        font-weight: 400;
        line-height: rem(22px) !important;
        font-style: italic;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-image: url('/images/web/common/icon_attachment.png');
            width: rem(16px);
            height: rem(16px);
            display: block;
            right: rem(20px);
            top: 50%;
            transform: translateY(-50%);

        }

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: var(--primary-color-dark);
            color: var(--font-color-text);
        }
    }

    .help-message {
        font-size: rem(12px);
        letter-spacing: 0;
        color: var(--font-color-text);
        padding: rem(10px);
    }
}
.featured-black__icon-text {
    display: flex;
    align-items: center;
    & > img {
        flex-shrink: 0;
    }
    & > p {
        color: var(--gray-color);
        font-size: rem(36px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: rem(36px);
        margin-bottom: 0 !important;
    }
}
.download-card {
    border-radius: rem(20px);
    background-color: var(--white-color);
    box-shadow: 0 rem(2px) rem(8px) 0 rgba(0, 0, 0, 0.14);
    padding: rem(20px);
    width: 100%;
    height: 100%;
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        color: #8393a8;
        & li {
            margin-bottom: rem(23px);
            &:last-child {
                margin-bottom: 0;
            }
            & a {
                text-decoration: none;
                & div {
                    &:first-child {
                        & > p {
                            font-size: rem(16px);
                            font-weight: 500;
                            letter-spacing: 0;
                            line-height: rem(26px);
                            text-decoration: underline;
                            margin-bottom: 0;
                        }
                    }
                    &:last-child {
                        height: rem(32.5px);
                        width: rem(164.5px);
                        flex-shrink: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid var(--primary-color-dark);
                        background-color: var(--white-color);
                        box-shadow: 0 rem(2px) rem(4px) 0 rgba(76, 76, 76, 0.12);
                        border-radius: rem(30px);
                        font-size: rem(24px);
                        color: var(--font-color-primary);
                        margin: 0 auto;
                    }
                }
                &:hover {
                    & div:last-child {
                        background-color: var(--primary-color);
                        color: var(--white-color);
                    }
                }
            }
        }
    }
}
.modal {
    &.show {
        z-index: 20001;
    }
    &-backdrop.show {
        z-index: 20000;
    }
}
/* CAUTION: IE hackery ahead */
select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
    select {
        background: none\9;
        padding: 0.312rem\9;
    }
}
@media screen and (max-width: 762px) {
    h2.sideLine {
        font-size: rem(16px) !important;
        line-height: rem(20px) !important;
        &::before {
            height: rem(29px);
        }
    }
    .list-general {
        font-size: rem(12px);
        line-height: rem(16px);
        & li {
            padding-left: rem(16px);
            &::before {
                content: "\2022";
                color: var(--font-color-primary);
                font-weight: bold;
                display: inline-block;
                font-size: rem(16px);
                margin-left: rem(-16px);
                width: rem(16px);
                line-height: rem(16px);
            }
        }
    }
    p {
        font-size: rem(12px);
        line-height: rem(16px);
    }
    .form__general {
        &-header {
            max-width: 90%;
            margin-bottom: rem(25px);
            &.line {
                & h3 {
                    position: relative;
                    padding-left: rem(5px);
                    &::before {
                        height: rem(30.34px);
                        width: rem(3.05px);
                        top: rem(7px);
                    }
                }
                & p {
                    padding-left: rem(5px);
                }
            }
            & h3 {
                font-size: rem(28px);

                line-height: rem(34px);
            }
            & p {
                font-size: rem(14px);
                line-height: rem(18px);
            }
        }
        & select,
        & textarea,
        & input {
            font-size: rem(12px);
            line-height: rem(16px);
        }
        &-button {
            margin-top: rem(35px);
            display: block;
            height: 44px;
            width: 90%;
        }
        & label {
            font-size: rem(12px);
            letter-spacing: 0;
            line-height: rem(19px);
        }
        & input {
            height: rem(34px);
            padding: rem(7px);
        }
        & .select {
            position: relative;
            &:after {
                font-size: rem(10px);

                top: rem(12px);
            }
        }
        & select {
            height: rem(34px);
            padding: rem(7px);
        }
    }
    .featured-black__icon-text {
        & > p {
            font-size: rem(24px);
            line-height: rem(24px);
        }
    }
}
@include media-breakpoint-up(md) {
    .download-card {
        padding: rem(40px);
        &__list {
            & li {
                margin-bottom: rem(53px);
                & a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & div {
                        &:first-child {
                            display: flex;
                            align-items: center;
                            & > p {
                                font-size: rem(20px);
                                margin-left: rem(18px);

                                margin-right: 40px;
                            }
                        }
                        &:last-child {
                            height: rem(40.5px);
                            width: rem(75.5px);
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
