.default-banner {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: rem(454px);
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0 auto;

        &-text {
            max-width: rem(654px);
            max-height: rem(306px);
            padding: rem(51px) rem(56px) rem(56px) rem(23px);
            background-color: var(--primary-color-alfa-85);
            border-radius: rem(25px);
            & > h1 {
                color: var(--white-color);
                font-size: rem(46px);
                font-weight: bold;
                letter-spacing: 0;
                line-height: rem(54px);
            }
            & > p {
                color: var(--white-color);
                font-size: rem(20px);
                font-weight: rem(500);
                letter-spacing: 0;
                line-height: rem(28px);
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .default-banner {
        &__content {
            padding: 0 rem(16px);

            &-text {
                padding: rem(31px) rem(51px) rem(21px) rem(19px);
                & > p {
                    font-size: rem(14px);
                    line-height: rem(20px);
                }
                & > h1 {
                    font-size: rem(28px);
                    line-height: rem(34px);
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .default-banner {
        height: rem(280px);
    }
}
