.map {
    width: 100%;
    border-radius: 1.187rem;
    background-color: var(--background-color-2);
    box-shadow: 0 0.25rem 0.875rem 0.187rem rgba(0, 0, 0, 0.19);
    overflow: hidden;

    .map-controls {
        padding-top: 1.25rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        .logo {
            text-align: center;
            margin-bottom: 1.25rem;
            img {
                width: 1.74rem;
            }
        }
        form {
            border-bottom: 1px solid var(--separator-color-alpha-8);
            padding-bottom: 1.25rem;
            margin-bottom: 1.25rem;

            label {
                color: var(--font-color-primary);
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 2.25rem;
            }
        }

        & ::-webkit-scrollbar {
            width: 2px;
        }

        & ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 rem(5px) transparent;
        }

        & ::-webkit-scrollbar-thumb {
            background: var(--component-color);
            border-radius: rem(10px);
        }
        .locations {
            max-height: 250px;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-bottom: 1.25rem;
            margin-bottom: 1.25rem;

            .locations-item {
                margin-bottom: 1.25rem;
                h4 {
                    color: var(--font-color-primary);
                    font-size: rem(12px);
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: rem(12px);
                }
                p {
                    margin-bottom: 0;
                    font-size: rem(12px);
                    line-height: rem(12px);
                }
                a {
                    color: var(--primary-color-dark);
                    font-size: rem(12px);
                    line-height: rem(12px);
                }
            }
        }
    }
    & #map {
        height: rem(457px);
        width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .map {
        height: rem(543px);
        .row {
            height: 100%;
        }
        .map-controls {
            padding-right: 0;

            .locations {
                .locations-item {
                    h4 {
                        font-size: rem(18px);
                        line-height: rem(36px);
                    }
                    p {
                        font-size: rem(16px);
                        line-height: rem(24px);
                    }
                    a {
                        font-size: rem(16px);
                        line-height: rem(24px);
                    }
                }
            }
        }
        & #map {
            height: 100%;
        }
    }
}
