.tabs-menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    & .nav-tabs {
        width: 100%;
        list-style: none;
        display: flex;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.23);
        border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
        padding: 0;
        background-color: var(--white-color);
        flex-wrap: nowrap;
        overflow: hidden;

        & .nav-item {
            height: inherit;
            flex-grow: 1;
            &:last-child .nav-link {
                &::after {
                    display: none;
                }
            }
        }
        & .nav-link {
            text-align: center;
            color: var(--font-color-text);
            padding: rem(12px);
            width: 100%;
            height: 100%;
            color: #8393a8;
            border-radius: 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: rem(12px);
            line-height: rem(12px);
            /*border: 1px solid red;*/
            &::after {
                content: "";
                display: block;
                height: 70%;
                width: 2px;
                background-color: #979797;
                position: absolute;
                right: rem(-2px);
                opacity: 0.25;
            }

            &.active,
            &:hover {
                background-color: var(--hover-color-primary) !important;
                color: var(--white-color);
                &::after {
                    display: none;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .tabs-menu {
        max-width: rem(783px);
    }
}
@include media-breakpoint-up(lg) {
    .tabs-menu {
        width: 70%;
        max-width: rem(783px);
        & .nav-tabs {
            & .nav-link {
                padding: rem(16px);
                font-size: rem(16px);
                line-height: rem(16px);
            }
        }
    }
}

.tabs-content {
    margin-top: rem(71px);
    h3 {
        color: var(--primary-color-dark);
        font-size: rem(22px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: rem(36px);
        margin-top: rem(20px);
        margin-bottom: rem(20px);
    }
    p {
        margin-bottom: rem(20px);
    }

    .container-button-interest {
        align-self: center;
        margin-top: 2.5rem;
        text-align: center;
    }
}

@include media-breakpoint-up(md) {
    .tabs-content {
        h3 {
            font-size: rem(28px);
            line-height: rem(34px);
            margin-top: rem(40px);
            margin-bottom: rem(40px);
        }
        p {
            /*margin-bottom: 0;*/
        }
    }
}

// Service Design
.tabs-content {
    & .tab-pane.active {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }
    .service-design {
        border-radius: rem(20px);
        box-shadow: 0 rem(2px) rem(8px) 0 rgba(0, 0, 0, 0.14);
        margin-top: rem(200px);
        .content {
            display: flex;
            flex-direction: column;
            height: inherit;
            align-items: center;
            padding: rem(78px) rem(18px) rem(35px) rem(18px);
            position: relative;
            .text {
                .title {
                    margin-bottom: 1.875rem;
                    padding-left: 1rem;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 0.312rem;
                        height: 2.062rem;
                        display: block;
                        border-radius: 0.187rem;
                        background-color: var(--primary-color);
                        margin-left: -1rem;
                        margin-top: 0.5rem;
                    }

                    h4 {
                        color: var(--font-color-primary);
                        font-size: rem(28px);
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: rem(34px);
                        margin: 0;
                    }
                    h5 {
                        color: var(--primary-color-dark);
                        font-size: rem(16px);
                        font-weight: bold;
                        letter-spacing: 0;
                    }
                }
                .text-description {
                    p {
                        font-size: rem(14px);
                        letter-spacing: 0;
                        line-height: rem(18px);
                    }
                }
            }
            .image {
                position: absolute;
                width: rem(351px);

                top: rem(-200px);
                &.H253 {
                    height: rem(259px);
                    text-align: center;
                    width: 100%;
                    & img {
                        height: 100%;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .tabs-content {
        .service-design {
            padding: rem(58px) rem(50px) rem(45px) rem(176px);
            margin-top: 0;
            max-width: rem(784px);
            width: 70%;
            .content {
                flex-direction: row;
                padding: 0;
                align-items: center;

                .text {
                    margin-top: 0;

                    .title {
                        h4 {
                            font-size: rem(46px);
                            line-height: rem(54px);
                        }
                        h5 {
                            font-size: rem(28px);
                            line-height: rem(34px);
                        }
                    }
                    .text-description {
                        p {
                            font-size: rem(16px);
                            line-height: rem(24px);
                            &.F20 {
                                font-size: rem(20px);
                                line-height: rem(30px);
                            }
                        }
                    }
                }
                .image {
                    position: absolute;
                    width: initial;
                    top: initial;
                    left: rem(-470px);
                    &.H253 {
                        height: initial;

                        & img {
                            height: initial;
                        }
                    }
                    &.L500 {
                        left: rem(-500px);
                    }
                }
            }
        }
    }
}

// Product Design
.tabs-content {
    .product-design {
        .content {
            display: flex;
            height: 100%;
            align-items: center;
            .text-content {
                h4 {
                    color: var(--font-color-primary);
                    font-size: rem(24px);
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: rem(34px);
                    margin-top: rem(30px);
                    margin-bottom: rem(20px);
                }
                p {
                    font-size: rem(14px);
                    letter-spacing: 0;
                    line-height: rem(18px);
                }
            }
        }

        .features {
            h3 {
                font-size: rem(22px);
                font-weight: bold;
                letter-spacing: 0;
                line-height: rem(34px);
                margin-top: rem(10px);
                margin-bottom: rem(20px);
            }
            p {
                &:last-child {
                    margin-bottom: rem(30px);
                }
            }
        }

        .buttons {
            text-align: center;
            a {
                padding: rem(17px) rem(67px);
                border-radius: rem(32px);
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 0;
                display: block;
                margin-bottom: rem(20px);
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .tabs-content {
        .product-design {
            .features {
                margin-top: rem(40px);
                h3 {
                    height: rem(64px);
                    width: 90%;
                    font-size: rem(28px);
                }
            }

            .buttons {
                text-align: center;
                margin-top: rem(60px);
                a {
                    display: inline-block;
                    margin-bottom: 0;
                    &:first-child {
                        margin-right: 1.25rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .tabs-content {
        .product-design {
            .content {
                .text-content {
                    padding-left: rem(30px);
                    width: 70%;
                    h4 {
                        font-size: rem(36px);
                        line-height: rem(42px);
                        margin-bottom: rem(20px);
                        margin-top: 0;
                        width: 80%;
                    }
                    p {
                        font-size: rem(16px);
                        line-height: rem(24px);

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
