.tittle-principal {
    font-weight: 400px;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #003770;
}

.blog_detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: auto;
    justify-items: center;
    align-items: center;
}

.blog_description {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: justify;
    width: 63.813rem;
}

.blog_date {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    color: #009ee3;
    margin: auto;
}

.img_blog {
    width: 64rem;
    height: 24.75rem;
    object-fit: cover;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.blog-cards-grid {
    background-color: #f0f0f0;
}

.parent_next_blog {
    max-width: 64rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    margin: auto;
}
.next_blog {
    background-color: #ffffff;
    width: 20.659rem;
    height: 29.813rem;
}
.img_next {
    width: 18.426rem;
    height: 10.5rem;
    object-fit: cover;
}
.title_next {
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 15.5rem;
}
