.heading-title-rates {
    background: linear-gradient(
            180deg,
            rgba(0, 158, 227, 0) 24%,
            rgba(0, 158, 227, 0.8) 62%,
            #009ee3 100%
        ),
        url("/images/web/home/rates/header_rates_img.jpg"); 
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 400px; /* Ajusta la altura del contenedor para que coincida con el diseño */
    display: flex; /* Usa Flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Centra el texto dentro del contenedor */
    color: #ffffff; /* Asegura que el texto sea visible sobre la imagen */
    padding: 20px; /* Espaciado interno para un mejor diseño */
    position: relative; /* Asegura que otros elementos no afecten el diseño */
    z-index: 1; /* Garantiza que el gradiente y la imagen estén detrás del contenido */
}

.title-header-rates {
    margin: auto;
    text-align: left !important;
    width: 865px !important;
    height: 60px !important;
    font-family: Gotham !important;
    font-weight: 700 !important;
    font-size: 50px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    margin: 0px 0px 0px !important;
}

.description-header-rates {
    font-family: Gotham;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    letter-spacing: 0%;
    margin-left: 0px !important;
    text-align: left !important;
}

.container-rates {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre las secciones de cada mes */
}

.month-section {
    display: flex;
    align-items: end;
    padding: 15px;
    padding-left: 0px;
    border-radius: 5px;
}

.month-title {
    width: 166px;
    height: 24px;
    font-family: Gotham;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #003770;
}

.rates-list {
    width: 500px;
    height: 40px;
    top: 464px;
    left: 372px;
    display: flex;
    gap: 10px; /* Espaciado entre las zonas */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben en una fila */
}
.rate-item {
    display: flex;
    background-color: #e7ecef;
    height: 40px;
    align-items: center;
    border-radius: 5px;
}
.guaviare {
    gap: 20px;
}
.centro {
    gap: 23px;
    width: 117px;
}
.llanos_orientales {
    gap: 30px;
    width: 210px;
}
.rate-item.llanos_orientales .zone-name {
    width: 143px;
    height: 22px;
    top: 9px;
    left: 10px;
    margin-left: 10px;
}
.rate-item.centro .zone-name {
    width: 58px;
    height: 22px;
    margin-left: 10px;
}

.rate-item.guaviare .zone-name {
    width: 75px;
    height: 22px;
    margin-left: 10px;
}
.guaviare {
    width: 131px;
    top: 464px;
    left: 717px;
}
.centro:hover,
.guaviare:hover,
.llanos_orientales:hover {
    background-color: #d0ebff;
}

.download-link {
    color: #003366;
    font-size: 16px;
    text-decoration: none;
}

.download-link i {
    margin-left: 5px;
}

.zone-name {
    width: 58px;
    height: 22px;
    top: 9px;
    left: 10px;
    font-family: Gotham;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0%;
}
