.request-service {
    border-radius: 1.5rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.14);

    .relative-container {
       /* position: relative;*/
        .image {
        /*    position: absolute;
            left: -21.875rem;*/
            img {
                /*max-width: 70%;*/
            }
        }
    }

    .content {
        padding: rem(30px) rem(20px);

        .title {
            margin-bottom: 1.875rem;
            margin-left: 1rem;

            &::before {
                content: "";
                position: absolute;
                width: 0.312rem;
                height: 2.062rem;
                display: block;
                border-radius: 0.187rem;
                background-color: var(--primary-color);
                margin-left: -1rem;
                margin-top: 0.5rem;
            }

            h4 {
                color: #003B7F;
                font-size: 1.75rem;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 2.125rem;
                margin: 0;
            }
            h5 {
                color: #8393A8;
                font-size: 1.25rem;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 1.875rem;
                margin: 0;
            }
        }

        .steps {
            .step {
                display: none;
            }
            .active {
                display: block;
            }
        }

        form {
            label {
                color: #003B7F;
                font-size: 1rem;
                font-weight: 900;
                letter-spacing: 0;
                line-height: 1.125rem;
                margin-bottom: 0.625rem;
            }
            .row {
                margin-bottom: 0.625rem;
            }
            input {
                height: 3.062rem;
                border: 0.125rem solid #C9D3DD;
                border-radius: 0.25rem;
                background-color: #FFFFFF;
                outline: none;
            }

            .controls {
                margin-top: 2.5rem;

                .buttons {
                    text-align: center;

                    button {
                        height: 3.25rem;
                        border-radius: 1.25rem;
                        background-color: #009EE3;
                        padding: 0 4.375rem;

                        color: var(--white-color);
                        font-size: 1.5rem;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 0;
                        text-align: center;
                    }

                    a {
                        padding: 0.312rem 1.875rem;
                        border-radius: 1.25rem;
                        background-color: #009EE3;
                        color: var(--white-color);
                        font-size: 1.125rem;
                        font-weight: bold;
                        letter-spacing: 0;
                        display: block;
                        margin-bottom: rem(20px);
                        /*line-height: 0;*/
                        div {
                            font-size: 0.875rem;
                            font-weight: 500;
                            margin-top: -0.425rem;
                        }

                    }

                    .btn-green {
                        background-color: var(--success-color);
                    }

                    .btn-blue {
                        background-color: var(--primary-color);
                    }
                }
            }

            .indicators {
                margin-top: rem(30px);
                .dots {
                    height: 100%;
                    display: flex;
                    align-items: end;
                    justify-content: center;

                    .dots-item {
                        display: inline-block;
                        width: 0.625rem;
                        height: 0.625rem;
                        border-radius: 50%;
                        background-color: #009EE3;
                        opacity: 0.2;
                        box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,0.2);
                        &:first-child {
                            margin-right: 0.625rem;
                        }
                    }
                    .active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


@include media-breakpoint-up(md) {
    .request-service {
        .relative-container {
            position: relative;
            .image {
                position: absolute;
                left: -21.875rem;
                img {
                    /*max-width: 70%;*/
                }
            }
        }
        .content {
            padding: rem(30px) 0;

            form {
                .controls {
                    .buttons {


                    }
                }


            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .request-service {
        padding-right: 1.875rem;
        .content {
            form {
                .controls {
                    .buttons {
                        text-align: right;

                        a {
                            display: inline-block;
                            margin-bottom: 0;
                            &:first-child {
                                margin-right: 1.25rem;
                            }
                        }

                    }
                }
                .indicators {
                    position: relative;
                    top: -1.562rem;
                    .dots {
                        justify-content: start;
                    }
                }

            }
        }
    }
}

html[data-size="small"] {
    .request-service {
        .relative-container {
            .image {
                left: rem(-446px);
            }
        }
    }
}
