.request-service {
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.14);
    padding-right: 30px;
    .image {
        position: relative;
        left: -350px;
        img {
            /*max-width: 70%;*/
        }
    }

    .content {
        padding: 30px 0;

        .title {
            margin-bottom: 30px;
            &::before {
                content: "";
                position: absolute;
                width: 0.312rem;
                height: 2.062rem;
                display: block;
                border-radius: 0.187rem;
                background-color: var(--primary-color);
                margin-left: -15px;
                margin-top: 7px;
            }

            h4 {
                color: #003B7F;
                font-size: 28px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 34px;
                margin: 0;
            }
            h5 {
                color: #8393A8;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 30px;
                margin: 0;
            }
        }

        form {
            label {
                color: #003B7F;
                font-size: 1rem;
                font-weight: 900;
                letter-spacing: 0;
                line-height: 18px;
                margin-bottom: 10px;
            }
            .row {
                margin-bottom: 10px;
            }
            input {
                height: 49px;
                border: 2px solid #C9D3DD;
                border-radius: 4px;
                background-color: #FFFFFF;
                outline: none;
            }

            select {
                height: 49px;
            }

            .buttons {
                margin-top: 40px;
                button {
                    height: 52px;
                    border-radius: 20px;
                    background-color: #009EE3;
                    padding: 0 70px;

                    color: var(--white-color);
                    font-size: 1.5rem;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 0;
                    text-align: center;
                }

                a {
                    padding: 5px 30px;
                    border-radius: 20px;
                    background-color: #009EE3;
                    color: var(--white-color);
                    font-size: 1.125rem;
                    font-weight: bold;
                    letter-spacing: 0;
                    /*line-height: 0;*/
                    div {
                        font-size: 0.875rem;
                        font-weight: 500;
                        margin-top: -10px;
                    }
                }

                .btn-green {
                    background-color: #00C85A;
                }

                .btn-blue {
                    background-color: #009EE3;
                }
            }

        }
    }
}
